Section 5, Lecture 33

In [1]:
if True:
    print('Its True!')

Its True!

In [2]:
hungry = True
if hungry:
    print('Need fooooood!')
else:
    print('Im full, come back later')

Need fooooood!

In [3]:
loc = 'Bank'

if loc == 'School':
    print('Im stuying...')
elif loc == 'Bank':
    print('Need money...')
else:
    print('Where am I?')

Need money...

Section 5, Lecture 34

In [4]:
listing = [1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
for i in listing:
    print(i)

1
2
3
4
5
6
7
8

In [10]:
list_sum = 0

In [11]:
for i in listing:
    list_sum += i
    print(list_sum)

1
3
6
10
15
21
28
36

In [8]:
list_sum

36

In [12]:
char = 'Hello World'

In [13]:
for l in char:
    print(l)

H
e
l
l
o

W
o
r
l
d

In [14]:
list_tuples = [(1,2), (3,4), (5,6), (6,7)]

In [15]:
list_tuples

[(1, 2), (3, 4), (5, 6), (6, 7)]

In [18]:
for i in list_tuples:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(6, 7)

In [20]:
# tuple unpacking
for a,b in list_tuples:
    print(a)

1
3
5
6

In [22]:
d = {'k1': 1, 'k2' : 2, 'k3' : 3}

for i in d:
    print(i)

k1
k2
k3

In [24]:
for i in d.values():
    print(i)

1
2
3

Section 5, Lecture 35

In [27]:
x = 0

while x < 5:
    print(f'the current value of X is {x}')
    x += 1
else:
    print('Error')

the current value of X is 0
the current value of X is 1
the current value of X is 2
the current value of X is 3
the current value of X is 4
Error

In [28]:
x = [1,2,3]

for i in x:
    pass #just to let it marked without getting an error

print('end')

end

In [29]:
str_sammy = "Sammy"

for l in str_sammy:
    if l == 'a':
        continue
    print(l)

S
m
m
y

Section 5, Lecture 36

In [31]:
intlist = [1,2,3]

for n in range(3,15,2):
    print(n)

3
5
7
9
11
13

In [32]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [33]:
idx_count = 0

In [38]:
word = 'abcde';
for i,l in enumerate(word):
    print(i)
    print(l)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [41]:
i_list = [1,2,3, 4, 5]
c_list = ['a', 'b', 'c']

In [40]:
for i in zip(i_list, c_list):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

It only zips until the lists are equal

In [42]:
'x' in [1,2,3]

False

In [43]:
'x' in ['x', 'y', 'z']

True

In [44]:
'a' in 'This is a statement!'

True

In [45]:
'key' in {'key': 1}

True

In [46]:
an_list = [10, 20, 30, 40, 50]

In [47]:
min(an_list)

10

In [48]:
max(an_list)

50

In [49]:
from random import shuffle

In [54]:
an_list = [1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
an_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
shuffle(an_list)

In [57]:
an_list

[6, 7, 8, 4, 3, 2, 5, 1]

In [58]:
from random import randint

In [59]:
randint(0,100)

65

In [60]:
randint(0,100)

14

In [63]:
input('How old are you? ') # returns always a string

How old are you? 213

'213'

Section 5, Lecture 37

In [64]:
word = 'hello'

In [65]:
an_list = [l for l in word]

In [66]:
an_list

['h', 'e', 'l', 'l', 'o']

In [67]:
i_list = [1, 2, 3, 4, 5]

In [68]:
an_list = [i ** 2 for i in i_list]

In [69]:
an_list

[1, 4, 9, 16, 25]

In [70]:
an_list = [x for x in range(0,11) if x%2==0]

In [71]:
an_list

[0, 2, 4, 6, 8, 10]

In [72]:
celcius = [0,10,20,35]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [73]:
fahrenheit

[32.0, 50.0, 68.0, 95.0]